/* Stylesheet CSS */
h1 {
    color: red;
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
}

h3 {
    color: aqua;
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

.frontpage {
    width: auto;
    height: 24em;
}

.first-paragraph {
    text-align: justify;
    background-color: black;
    color: white;
    font-size: 2em;
}